In [4]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.nonparametric.kde import KDEUnivariate
from statsmodels.nonparametric import smoothers_lowess
from pandas import Series, DataFrame
from patsy import dmatrices
from sklearn import datasets,svm
#from KaggleAux import predict as ka

C:\Users\kappaavr\AppData\Local\Continuum\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [5]:
# press Shift + Enter for new cell
df = pd.read_csv("data/train.csv")

In [ ]:
df

In [ ]:
df.describe

In [6]:
df.describe() #not showing few colums like Ticket and Cabin
df['Ticket']
df.describe(include='all') # shows all columns / features
# Ticket and Cabin features have so many missing values, since they add no value to analysis, we can remove those
# There are other features that have missing values too, before we drop those we should first drop Ticket and Cabin
# Because drop() will remove every observation/row that has missing value. If drop() is done with Ticket and Cabin
# that will result in the removal of many rows.
# first remove features that are not needed and then drop missing value observations

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Johannesen-Bratthammer, Mr. Bernt",male,NaN,NaN,NaN,347082,NaN,C23 C25 C27,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [7]:
df = df.drop(['Ticket','Cabin'], axis = 1) #column names are case sensitive

In [8]:
df.describe(include = 'all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891.000000,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,NaN,3
top,NaN,NaN,NaN,"Johannesen-Bratthammer, Mr. Bernt",male,NaN,NaN,NaN,NaN,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,NaN,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,32.204208,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,49.693429,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,0.000000,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,7.910400,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,14.454200,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,31.000000,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,512.329200,NaN

In [9]:
df = df.dropna()

In [10]:
df.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
count,712.000000,712.000000,712.000000,712,712,712.000000,712.000000,712.000000,712.000000,712
unique,NaN,NaN,NaN,712,2,NaN,NaN,NaN,NaN,3
top,NaN,NaN,NaN,"Soholt, Mr. Peter Andreas Lauritz Andersen",male,NaN,NaN,NaN,NaN,S
freq,NaN,NaN,NaN,1,453,NaN,NaN,NaN,NaN,554
mean,448.589888,0.404494,2.240169,NaN,NaN,29.642093,0.514045,0.432584,34.567251,NaN
std,258.683191,0.491139,0.836854,NaN,NaN,14.492933,0.930692,0.854181,52.938648,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,0.000000,NaN
25%,222.750000,0.000000,1.000000,NaN,NaN,20.000000,0.000000,0.000000,8.050000,NaN
50%,445.000000,0.000000,2.000000,NaN,NaN,28.000000,0.000000,0.000000,15.645850,NaN
75%,677.250000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,1.000000,33.000000,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,5.000000,6.000000,512.329200,NaN

In [11]:
fig = plt.figure(figsize=(18,6),dpi=1600) # creates a figure obj, shows nothign
alpha = alpha_scatterplot = 0.2
alpha_bar_chart = 0.55

In [ ]:
ax1 = plt.subplot2grid((2,3), (0,0))
# press Tab for suggestions
# press Shift + Tab for description of methods

In [ ]:
df.Survived.value_counts()

In [ ]:
df.Survived.value_counts().plot(kind='bar')

In [ ]:
df.Survived.value_counts().plot(kind='bar',alpha=alpha_bar_chart)

In [ ]:
ax1.set_xlim(-1,2)

In [ ]:
plt.title("Distribution of Survival,(1 = Survived)")

In [ ]:
ax1 = plt.subplot2grid((2,3), (0,0))
df.Survived.value_counts().plot(kind='bar', alpha=alpha_bar_chart)
# this nicely sets the margins in matplotlib to deal with a recent bug 1.3.1
ax1.set_xlim(-1, 2)
# puts a title on our graph
plt.title("Distribution of Survival, (1 = Survived)")

In [ ]:
plt.subplot2grid((2,3),(0,0))

In [ ]:
plt.scatter(df.Survived,df.Age)

In [ ]:
plt.scatter(df.Survived,df.Age, alpha=alpha_bar_chart)
plt.ylabel("Age")
plt.grid(b=True)

In [ ]:
plt.scatter(df.Survived,df.Age, alpha=alpha_bar_chart)
plt.ylabel("Age")
plt.grid(b=True, which = 'major', axis='y')

In [ ]:
plt.subplot2grid((2,3),(0,1))
plt.scatter(df.Survived, df.Age, alpha=alpha_scatterplot)
# sets the y axis lable
plt.ylabel("Age")
# formats the grid line style of our graphs                          
plt.grid(b=True, which='major', axis='y')  
plt.title("Survival by Age,  (1 = Survived)")

In [ ]:
ax3 = plt.subplot2grid((2,3),(0,2))
df.Pclass.value_counts().plot(kind="barh", alpha=alpha_bar_chart) #barh is for bar graph with horizontal plots
ax3.set_ylim(-1, len(df.Pclass.value_counts()))
plt.title("Class Distribution")

In [ ]:
plt.subplot2grid((2,3),(1,0), colspan=2)
df.Age[df.Pclass == 1].plot(kind='kde')   
df.Age[df.Pclass == 2].plot(kind='kde') 
df.Age[df.Pclass == 3].plot(kind='kde')   
plt.xlabel("Age")    
plt.title("Age Distribution within classes")
# sets our legend for our graph.
plt.legend(('1st Class', '2nd Class','3rd Class'),loc='best')

In [ ]:
df.Embarked.value_counts().plot(kind='bar', alpha=alpha_bar_chart)
ax5.set_xlim(-1, len(df.Embarked.value_counts()))
# specifies the parameters of our graphs
plt.title("Passengers per boarding location")

In [ ]:
# specifies the parameters of our graphs
fig = plt.figure(figsize=(18,6), dpi=1600) 
alpha=alpha_scatterplot = 0.2 
alpha_bar_chart = 0.55

# lets us plot many diffrent shaped graphs together 
ax1 = plt.subplot2grid((2,3),(0,0))
# plots a bar graph of those who surived vs those who did not.               
df.Survived.value_counts().plot(kind='bar', alpha=alpha_bar_chart)
# this nicely sets the margins in matplotlib to deal with a recent bug 1.3.1
ax1.set_xlim(-1, 2)
# puts a title on our graph
plt.title("Distribution of Survival, (1 = Survived)")    

plt.subplot2grid((2,3),(0,1))
plt.scatter(df.Survived, df.Age, alpha=alpha_scatterplot)
# sets the y axis lable
plt.ylabel("Age")
# formats the grid line style of our graphs                          
plt.grid(b=True, which='major', axis='y')  # b is the boolean value to enable/disable grid, axis=y gives only horizontal grid
plt.title("Survival by Age,  (1 = Survived)")

ax3 = plt.subplot2grid((2,3),(0,2))
df.Pclass.value_counts().plot(kind="barh", alpha=alpha_bar_chart)
ax3.set_ylim(-1, len(df.Pclass.value_counts()))
plt.title("Class Distribution")

plt.subplot2grid((2,3),(1,0), colspan=2)
# plots a kernel density estimate of the subset of the 1st class passangers's age
df.Age[df.Pclass == 1].plot(kind='kde')    
df.Age[df.Pclass == 2].plot(kind='kde')
df.Age[df.Pclass == 3].plot(kind='kde')
 # plots an axis lable
plt.xlabel("Age")    
plt.title("Age Distribution within classes")
# sets our legend for our graph.
plt.legend(('1st Class', '2nd Class','3rd Class'),loc='best') 

ax5 = plt.subplot2grid((2,3),(1,2))
df.Embarked.value_counts().plot(kind='bar', alpha=alpha_bar_chart)
ax5.set_xlim(-1, len(df.Embarked.value_counts()))
# specifies the parameters of our graphs
plt.title("Passengers per boarding location")


# subplot2grid uses indexed to plot different graphs, see 0,0 0,1 0,2 1,0 1,2 are points for plots

In [ ]:
plt.figure(figsize=(6,4))
fig , ax = plt.subplots()
df.Survived.value_counts().plot(kind="barh",color="blue",alpha=0.65)
ax.set_ylim(-1,len(df.Survived.value_counts()))
plt.title("Survival Breakdown (1 = Survived, 0 = Died)")

In [ ]:
fig = plt.figure(figsize=(18,6))

In [ ]:
df_male = df.Survived[df.Sex == 'male'].value_counts().sort_index()

In [ ]:
df_male

In [ ]:
df_female = df.Survived[df.Sex == 'female'].value_counts().sort_index()

In [ ]:
df_female

In [ ]:
ax1 = fig.add_subplot(121)

In [ ]:
df_male.plot(kind='barh',label='Male',alpha=0.55)

In [ ]:
df_female.plot(kind='barh',color='#FA2379',label='Female',alpha=0.55)

In [ ]:
plt.title("Who Survived? with respect to Gender, (raw value counts) "); plt.legend(loc='best')
ax1.set_ylim(-1, 2)

In [ ]:
fig = plt.figure(figsize=(18,6))

#create a plot of two subsets, male and female, of the survived variable.
#After we do that we call value_counts() so it can be easily plotted as a bar graph. 
#'barh' is just a horizontal bar graph
df_male = df.Survived[df.Sex == 'male'].value_counts().sort_index()
df_female = df.Survived[df.Sex == 'female'].value_counts().sort_index()

ax1 = fig.add_subplot(121)
df_male.plot(kind='barh',label='Male',color='red',alpha=0.55)
df_female.plot(kind='barh', label='Female',alpha=0.55)
plt.title("Who Survived? with respect to Gender, (raw value counts) "); plt.legend(loc='best')
ax1.set_ylim(-1, 2)

In [ ]:
ax2 = fig.add_subplot(122)

In [ ]:
(df_male/float(df_male.sum())).plot(kind='barh',label='Male',color='Red',alpha=0.55)
(df_female/float(df_female.sum())).plot(kind='barh',label='Female',alpha=0.55)

plt.title("Who Survived proportionally? with respect to Gender"); plt.legend(loc='best')

ax2.set_ylim(-1, 2)

In [ ]:
fig = plt.figure(figsize=(18,6))

#create a plot of two subsets, male and female, of the survived variable.
#After we do that we call value_counts() so it can be easily plotted as a bar graph. 
#'barh' is just a horizontal bar graph
df_male = df.Survived[df.Sex == 'male'].value_counts().sort_index()
df_female = df.Survived[df.Sex == 'female'].value_counts().sort_index()

ax1 = fig.add_subplot(121)
df_male.plot(kind='barh',label='Male', alpha=0.55)
df_female.plot(kind='barh', color='#FA2379',label='Female', alpha=0.55)
plt.title("Who Survived? with respect to Gender, (raw value counts) "); plt.legend(loc='best')
ax1.set_ylim(-1, 2) 

#adjust graph to display the proportions of survival by gender
ax2 = fig.add_subplot(122)
(df_male/float(df_male.sum())).plot(kind='barh',label='Male', alpha=0.55)  
(df_female/float(df_female.sum())).plot(kind='barh', color='#FA2379',label='Female', alpha=0.55)
plt.title("Who Survived proportionally? with respect to Gender"); plt.legend(loc='best')

ax2.set_ylim(-1, 2)

In [ ]:
fig = plt.figure(figsize=(18,4), dpi=1600)
alpha_level = 0.65
ax1 = fig.add_subplot(141)
female_hihgclass = df.Survived[df.Sex == 'female'][df.Pclass != 3].value_counts()

In [ ]:
female_highclass = df.Survived[df.Sex == 'female'][df.Pclass != 3].value_counts()

In [ ]:
female_highclass

In [ ]:
female_highclass.plot(kind='bar',label='female,highness',alpha=alpha_level)
ax1.set_xticklabels(['Survived','Died'],rotation = 0)
ax1.set_xlim(-1,len(female_highclass))

In [ ]:
fig = plt.figure(figsize=(18,4), dpi=1600)
alpha_level = 0.65

# building on the previous code, here we create an additional subset with in the gender subset 
# we created for the survived variable. I know, thats a lot of subsets. After we do that we call 
# value_counts() so it it can be easily plotted as a bar graph. this is repeated for each gender 
# class pair.
ax1=fig.add_subplot(141)
female_highclass = df.Survived[df.Sex == 'female'][df.Pclass != 3].value_counts()
female_highclass.plot(kind='bar', label='female, highclass', color='#FA2479', alpha=alpha_level)
ax1.set_xticklabels(["Survived", "Died"], rotation=0)
ax1.set_xlim(-1, len(female_highclass))
plt.title("Who Survived? with respect to Gender and Class"); plt.legend(loc='best')

In [ ]:
fig = plt.figure(figsize=(18,4), dpi=1600)
alpha_level = 0.65

# building on the previous code, here we create an additional subset with in the gender subset 
# we created for the survived variable. I know, thats a lot of subsets. After we do that we call 
# value_counts() so it it can be easily plotted as a bar graph. this is repeated for each gender 
# class pair.
ax1=fig.add_subplot(141)
female_highclass = df.Survived[df.Sex == 'female'][df.Pclass != 3].value_counts()
female_highclass.plot(kind='bar', label='female, highclass', color='#FA2479', alpha=alpha_level)
ax1.set_xticklabels(["Survived", "Died"], rotation=0)
ax1.set_xlim(-1, len(female_highclass))
plt.title("Who Survived? with respect to Gender and Class"); plt.legend(loc='best')

ax2=fig.add_subplot(142, sharey=ax1)
female_lowclass = df.Survived[df.Sex == 'female'][df.Pclass == 3].value_counts()
female_lowclass.plot(kind='bar', label='female, low class', color='pink', alpha=alpha_level)
ax2.set_xticklabels(["Died","Survived"], rotation=0)
ax2.set_xlim(-1, len(female_lowclass))
plt.legend(loc='best')

ax3=fig.add_subplot(143, sharey=ax1)
male_lowclass = df.Survived[df.Sex == 'male'][df.Pclass == 3].value_counts()
male_lowclass.plot(kind='bar', label='male, low class',color='lightblue', alpha=alpha_level)
ax3.set_xticklabels(["Died","Survived"], rotation=0)
ax3.set_xlim(-1, len(male_lowclass))
plt.legend(loc='best')

ax4=fig.add_subplot(144, sharey=ax1)
male_highclass = df.Survived[df.Sex == 'male'][df.Pclass != 3].value_counts()
male_highclass.plot(kind='bar', label='male, highclass', alpha=alpha_level, color='steelblue')
ax4.set_xticklabels(["Died","Survived"], rotation=0)
ax4.set_xlim(-1, len(male_highclass))
plt.legend(loc='best')

In [12]:
formula = 'Survived ~ C(Pclass) + C(Sex) + Age + SibSp  + C(Embarked)'

In [ ]:
formula

In [17]:
results = {}

In [13]:
y,x = dmatrices(formula, data=df, return_type='dataframe')

In [ ]:
y

In [ ]:
x

In [14]:
model = sm.Logit(y,x)

In [15]:
res = model.fit()

Optimization terminated successfully.
         Current function value: 0.444388
         Iterations 6

In [18]:
results['Logit'] = [res, formula]

In [ ]:
res.summary()

In [ ]:
plt.figure(figsize=(18,4));
plt.subplot(121, axisbg="#DBDBDB")
ypred = res.predict(x)
ypred

In [ ]:
plt.plot(x.index,ypred,'bo', x.index, y, 'mo', alpha=.25);
plt.grid(color='white', linestyle='dashed')
plt.title('Logit predictions, Blue: \nFitted/predicted values: Red');

In [ ]:
# Plot Predictions Vs Actual
plt.figure(figsize=(18,4));
plt.subplot(121, axisbg="#DBDBDB")
# generate predictions from our fitted model
ypred = res.predict(x)
plt.plot(x.index, ypred, 'bo', x.index, y, 'mo', alpha=.25);
plt.grid(color='white', linestyle='dashed')
plt.title('Logit predictions, Blue: \nFitted/predicted values: Red');

# Residuals
ax2 = plt.subplot(122, axisbg="#DBDBDB")
plt.plot(res.resid_dev, 'r-')
plt.grid(color='white', linestyle='dashed')
ax2.set_xlim(-1, len(res.resid_dev))
plt.title('Logit Residuals');

In [ ]:
fig = plt.figure(figsize=(18,9), dpi=1600)
a = .2

# Below are examples of more advanced plotting. 
# It it looks strange check out the tutorial above.
fig.add_subplot(221, axisbg="#DBDBDB")
kde_res = KDEUnivariate(res.predict())
kde_res.fit()
plt.plot(kde_res.support,kde_res.density)
plt.fill_between(kde_res.support,kde_res.density, alpha=a)
plt.title("Distribution of our Predictions")

fig.add_subplot(222, axisbg="#DBDBDB")
plt.scatter(res.predict(),x['C(Sex)[T.male]'] , alpha=a)
plt.grid(b=True, which='major', axis='x')
plt.xlabel("Predicted chance of survival")
plt.ylabel("Gender Bool")
plt.title("The Change of Survival Probability by Gender (1 = Male)")

fig.add_subplot(223, axisbg="#DBDBDB")
plt.scatter(res.predict(),x['C(Pclass)[T.3]'] , alpha=a)
plt.xlabel("Predicted chance of survival")
plt.ylabel("Class Bool")
plt.grid(b=True, which='major', axis='x')
plt.title("The Change of Survival Probability by Lower Class (1 = 3rd Class)")

fig.add_subplot(224, axisbg="#DBDBDB")
plt.scatter(res.predict(),x.Age , alpha=a)
plt.grid(True, linewidth=0.15)
plt.title("The Change of Survival Probability by Age")
plt.xlabel("Predicted chance of survival")
plt.ylabel("Age")

In [19]:
test_data = pd.read_csv("data/test.csv")

In [20]:
test_data['Survived'] = 1.23

In [21]:
results

{'Logit': [<statsmodels.discrete.discrete_model.BinaryResultsWrapper at 0x1e8b01eaeb8>,
  'Survived ~ C(Pclass) + C(Sex) + Age + SibSp  + C(Embarked)']}

In [ ]:
compared_resuts = ka.predict(test_data, results, 'Logit')
compared_resuts = Series(compared_resuts)  # convert our model to a series for easy output

In [ ]:
compared_resuts.to_csv("data/output/logitregres.csv")
# Create an acceptable formula for our machine learning algorithms
formula_ml = 'Survived ~ C(Pclass) + C(Sex) + Age + SibSp + Parch + C(Embarked)'

In [ ]:
plt.figure(figsize=(8,6))
formula_ml = 'Survived ~ C(Pclass) + C(Sex) + Age + SibSp + Parch + C(Embarked)'
y,x = dmatrices(formula_ml,data=df,return_type='matrix')

In [34]:
feature_1 = 2
feature_2 = 3
feature_1
formula_ml = 'Survived ~ C(Pclass) + C(Sex) + Age + SibSp + Parch + C(Embarked)'

In [22]:
X = np.asarray(x)
X

array([[  1.,   0.,   1., ...,   1.,  22.,   1.],
       [  1.,   0.,   0., ...,   0.,  38.,   1.],
       [  1.,   0.,   1., ...,   1.,  26.,   0.],
       ...,
       [  1.,   0.,   0., ...,   1.,  19.,   0.],
       [  1.,   0.,   0., ...,   0.,  26.,   0.],
       [  1.,   0.,   1., ...,   0.,  32.,   0.]])

In [25]:
X = X[:,[feature_1,feature_2]]

In [26]:
y = np.asarray(y)
y = y.flatten()

In [27]:
n_sample = len(x)
n_sample

712

In [28]:
np.random.seed(0)
order = np.random.permutation(n_sample)
order

array([338, 142, 242, 235, 468, 470, 375,  40, 365,  85, 245, 251, 400,
       447, 686,  14, 193, 508, 360, 631, 103, 278,   8, 435, 657, 391,
       573,  55, 575,  31, 350, 542, 538, 299, 356, 157,   1, 406, 367,
       616, 181, 229, 418,  79, 602, 592, 709, 516, 496, 580, 473, 704,
       658, 175, 615, 579, 482, 354, 441,  27, 517, 498, 301, 279, 437,
       591, 480, 564, 239,  75, 170, 386, 333, 577, 156, 211, 272,  50,
       337, 518, 642, 701, 524, 402,  10,  68, 484, 705, 620, 390, 122,
       434, 478, 310, 661, 249, 330, 467, 646, 231, 113, 547, 636, 432,
       541,  49, 294, 688, 202, 494,  37, 534,  48, 263, 283, 334,  18,
       685,  76,  64, 567, 339,  52, 678, 210, 614, 222, 503, 556, 495,
       342, 417, 258, 618, 252, 243, 172, 261, 676, 557,  97, 374, 483,
       691, 266,  17, 477, 302, 250, 316, 466, 656, 236, 240, 162,  45,
       312,  62, 545, 625, 247, 140, 285, 561, 127, 474, 346, 144,  21,
       497, 366,  35, 426, 214, 399,  77, 215, 492, 109, 487, 101, 489,
       533, 271, 187, 619, 453, 397, 362, 702, 196, 317, 165, 490, 395,
        34, 519, 708, 697, 425, 590, 155, 327, 325, 460, 200, 481, 511,
        12, 161, 255, 529, 458, 268, 159, 351,  78,  92, 493,  66, 315,
       331, 535, 293, 652, 419, 382, 549, 647,  15, 663, 267,   6, 634,
        71, 407, 422, 369, 313, 104, 643, 188, 408, 364, 353, 230, 389,
        90, 613, 403, 204, 363, 118, 303, 672, 218, 570, 319, 205, 352,
       190, 563, 344, 194, 436, 132, 233, 173, 178, 689, 539, 206,  96,
       649, 306, 650,  89, 505, 179,   0,  46, 171, 568, 485, 107, 133,
       457, 223, 578, 102, 108, 213, 440, 332, 246, 653, 380, 125, 409,
       513, 424, 576, 224,  26, 416, 501, 318,   3, 134, 454, 186, 443,
       295, 595, 626, 607, 641, 225, 583, 385, 476, 475, 680, 632, 463,
       355, 536, 112, 558, 499,  20,  65, 298, 126, 259, 530, 358, 596,
       137, 451,   7, 654, 309, 491, 185, 415, 153,  54,  30, 449, 635,
       100, 401, 586, 675, 237,  56,  60, 452, 262, 526, 264, 664, 413,
       208, 428, 404, 167,  38, 662, 582, 300, 456, 674, 604, 163, 124,
       154, 336,  59, 589, 304, 668, 710, 343, 392, 311, 427, 158,  51,
       514, 479, 465, 361, 412, 439, 219, 308,  74, 282, 648,   4, 572,
       667, 696, 628,   5, 141, 522, 135, 462, 378, 638,  22, 644, 276,
       284, 270, 681, 281, 420, 220, 645, 320, 500, 120,  81, 698,  13,
       571, 690, 683, 160, 695, 238, 379, 471, 502, 509, 532, 195, 191,
       116, 711, 584, 164, 106,  16,  63, 384, 660, 105, 506, 671, 329,
       345, 622, 405, 531,  93, 527, 433,  83, 601, 348, 553, 455, 198,
       145, 414, 150, 585,  39, 523, 521, 651, 548, 322, 253, 637, 520,
       699, 357,  69,   2, 340, 221, 665, 146, 289, 241,  29, 587, 114,
       504, 706, 612, 566, 176, 627, 372, 168, 347, 376, 540, 623, 608,
       546, 189, 136, 446, 598, 254, 630, 290, 673, 603, 232,  33,  88,
        44, 341,  61, 682, 199, 429, 394, 297,  73, 393, 609, 593, 703,
       217, 588, 421, 138, 212, 693, 597, 655, 234,  67,  24, 381, 216,
       129, 349, 111, 166, 207, 438, 552, 274, 605, 569, 525, 287, 469,
       326, 121, 507, 228, 445, 117, 464,  25, 110, 149, 152, 528, 461,
       139, 260, 323, 640, 248, 450, 410,  19, 328, 296, 269, 226,  94,
       515, 280, 286, 666, 444, 184, 371, 624, 694, 275, 669, 182,  32,
        80, 307,  11,  43,  86,  36,  58,  41, 411, 562, 209, 148, 594,
       123, 574,  98, 377, 130,  23, 621, 555, 370, 512, 383, 201, 368,
       554, 610, 387, 292, 256, 606, 197,  95, 687, 169, 581, 305, 560,
       373, 227, 143, 180, 131, 679,  47, 324, 203,  84, 633, 565, 611,
       398,  91,  82, 430, 119, 291,  57, 321, 257, 692, 442,  42, 617,
       388, 335, 273, 488, 550,  53, 670, 128,  28, 183, 459, 510, 151,
       244, 543, 544, 639, 265, 288, 423, 147, 659, 177,  99, 448, 431,
       115,  72, 537, 677, 700, 174,  87, 551, 486, 314, 396, 600, 472,
        70, 599, 277,   9, 359, 707, 192, 629, 559, 684])

In [29]:
X = X[order]
y = y[order].astype(np.float)
X

array([[ 1.,  0.],
       [ 0.,  1.],
       [ 0.,  1.],
       ...,
       [ 0.,  1.],
       [ 0.,  1.],
       [ 1.,  0.]])

In [30]:
nighty_precent_of_sample = int(.9 * n_sample)
X_train = X[:nighty_precent_of_sample]
y_train = y[:nighty_precent_of_sample]
X_test = X[nighty_precent_of_sample:]
y_test = y[nighty_precent_of_sample:]

In [31]:
type_of_kernels = ['linear','rbf','poly']

In [32]:
color_map = plt.cm.RdBu_r

In [ ]:
color_map

In [ ]:
type_of_kernels = ['linear','rbf','poly']
for fig_num, kernel in enumerate(types_of_kernels):
    clf = svm.SVC(kernel=kernel, gamma=3)
    clf.fit(X_train, y_train)

    plt.figure(fig_num)
    plt.scatter(X[:, 0], X[:, 1], c=y, zorder=10, cmap=color_map)

    # circle out the test data
    plt.scatter(X_test[:, 0], X_test[:, 1], s=80, facecolors='none', zorder=10)
    
    plt.axis('tight')
    x_min = X[:, 0].min()
    x_max = X[:, 0].max()
    y_min = X[:, 1].min()
    y_max = X[:, 1].max()

    XX, YY = np.mgrid[x_min:x_max:200j, y_min:y_max:200j]
    Z = clf.decision_function(np.c_[XX.ravel(), YY.ravel()])

    # put the result into a color plot
    Z = Z.reshape(XX.shape)
    plt.pcolormesh(XX, YY, Z > 0, cmap=color_map)
    plt.contour(XX, YY, Z, colors=['k', 'k', 'k'], linestyles=['--', '-', '--'],
               levels=[-.5, 0, .5])

    plt.title(kernel)
    plt.show()

In [ ]:
plt.figure(figsize=(8,6))

# create a regression friendly data frame
y, x = dmatrices(formula_ml, data=df, return_type='matrix')

# select which features we would like to analyze
# try chaning the selection here for diffrent output.
# Choose : [2,3] - pretty sweet DBs [3,1] --standard DBs [7,3] -very cool DBs,
# [3,6] -- very long complex dbs, could take over an hour to calculate! 
feature_1 = 2
feature_2 = 3

X = np.asarray(x)
X = X[:,[feature_1, feature_2]]  


y = np.asarray(y)
# needs to be 1 dimenstional so we flatten. it comes out of dmatirces with a shape. 
y = y.flatten()      

n_sample = len(X)

np.random.seed(0)
order = np.random.permutation(n_sample)

X = X[order]
y = y[order].astype(np.float)

# do a cross validation
nighty_precent_of_sample = int(.9 * n_sample)
X_train = X[:nighty_precent_of_sample]
y_train = y[:nighty_precent_of_sample]
X_test = X[nighty_precent_of_sample:]
y_test = y[nighty_precent_of_sample:]

# create a list of the types of kerneks we will use for your analysis
types_of_kernels = ['linear', 'rbf', 'poly']

# specify our color map for plotting the results
color_map = plt.cm.RdBu_r

# fit the model
for fig_num, kernel in enumerate(types_of_kernels):
    clf = svm.SVC(kernel=kernel, gamma=3)
    clf.fit(X_train, y_train)

    plt.figure(fig_num)
    plt.scatter(X[:, 0], X[:, 1], c=y, zorder=10, cmap=color_map)

    # circle out the test data
    plt.scatter(X_test[:, 0], X_test[:, 1], s=80, facecolors='none', zorder=10)
    
    plt.axis('tight')
    x_min = X[:, 0].min()
    x_max = X[:, 0].max()
    y_min = X[:, 1].min()
    y_max = X[:, 1].max()

    XX, YY = np.mgrid[x_min:x_max:200j, y_min:y_max:200j]
    Z = clf.decision_function(np.c_[XX.ravel(), YY.ravel()])

    # put the result into a color plot
    Z = Z.reshape(XX.shape)
    plt.pcolormesh(XX, YY, Z > 0, cmap=color_map)
    plt.contour(XX, YY, Z, colors=['k', 'k', 'k'], linestyles=['--', '-', '--'],
               levels=[-.5, 0, .5])

    plt.title(kernel)
    plt.show()

In [ ]:
clf = svm.SVC(kernel='poly', gamma=3).fit(X_train, y_train)                                                            
#y,x = dmatrices(formula_ml, data=test_data, return_type='dataframe')
res_svm = clf.predict(x.ix[:,[6,3]].dropna()) 
res_svm = DataFrame(res_svm,columns=['Survived'])
res_svm.to_csv("data/output/svm_poly_63_g10.csv")

In [ ]:
x.describe()

In [ ]:
test_data

In [35]:
import sklearn.ensemble as ske

# Create the random forest model and fit the model to our training data
y, x = dmatrices(formula_ml, data=df, return_type='dataframe')
# RandomForestClassifier expects a 1 demensional NumPy array, so we convert
y = np.asarray(y).ravel()
#instantiate and fit our model
results_rf = ske.RandomForestClassifier(n_estimators=100).fit(x, y)

# Score the results
score = results_rf.score(x, y)
print("Mean accuracy of Random Forest Predictions on the data was: {0}".format(score))

Mean accuracy of Random Forest Predictions on the data was: 0.9452247191011236

In [36]:
x

,Intercept,C(Pclass)[T.2],C(Pclass)[T.3],C(Sex)[T.male],C(Embarked)[T.Q],C(Embarked)[T.S],Age,SibSp,Parch
0,1.0,0.0,1.0,1.0,0.0,1.0,22.0,1.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,38.0,1.0,0.0
2,1.0,0.0,1.0,0.0,0.0,1.0,26.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,1.0,35.0,1.0,0.0
4,1.0,0.0,1.0,1.0,0.0,1.0,35.0,0.0,0.0
6,1.0,0.0,0.0,1.0,0.0,1.0,54.0,0.0,0.0
7,1.0,0.0,1.0,1.0,0.0,1.0,2.0,3.0,1.0
8,1.0,0.0,1.0,0.0,0.0,1.0,27.0,0.0,2.0
9,1.0,1.0,0.0,0.0,0.0,0.0,14.0,1.0,0.0
10,1.0,0.0,1.0,0.0,0.0,1.0,4.0,1.0,1.0
11,1.0,0.0,0.0,0.0,0.0,1.0,58.0,0.0,0.0
12,1.0,0.0,1.0,1.0,0.0,1.0,20.0,0.0,0.0
13,1.0,0.0,1.0,1.0,0.0,1.0,39.0,1.0,5.0
14,1.0,0.0,1.0,0.0,0.0,1.0,14.0,0.0,0.0
15,1.0,1.0,0.0,0.0,0.0,1.0,55.0,0.0,0.0
16,1.0,0.0,1.0,1.0,1.0,0.0,2.0,4.0,1.0
18,1.0,0.0,1.0,0.0,0.0,1.0,31.0,1.0,0.0
20,1.0,1.0,0.0,1.0,0.0,1.0,35.0,0.0,0.0
21,1.0,1.0,0.0,1.0,0.0,1.0,34.0,0.0,0.0
22,1.0,0.0,1.0,0.0,1.0,0.0,15.0,0.0,0.0
23,1.0,0.0,0.0,1.0,0.0,1.0,28.0,0.0,0.0
24,1.0,0.0,1.0,0.0,0.0,1.0,8.0,3.0,1.0
25,1.0,0.0,1.0,0.0,0.0,1.0,38.0,1.0,5.0
27,1.0,0.0,0.0,1.0,0.0,1.0,19.0,3.0,2.0
30,1.0,0.0,0.0,1.0,0.0,0.0,40.0,0.0,0.0
33,1.0,1.0,0.0,1.0,0.0,1.0,66.0,0.0,0.0
34,1.0,0.0,0.0,1.0,0.0,0.0,28.0,1.0,0.0
35,1.0,0.0,0.0,1.0,0.0,1.0,42.0,1.0,0.0
37,1.0,0.0,1.0,1.0,0.0,1.0,21.0,0.0,0.0
38,1.0,0.0,1.0,0.0,0.0,1.0,18.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...
856,1.0,0.0,0.0,0.0,0.0,1.0,45.0,1.0,1.0
857,1.0,0.0,0.0,1.0,0.0,1.0,51.0,0.0,0.0
858,1.0,0.0,1.0,0.0,0.0,0.0,24.0,0.0,3.0
860,1.0,0.0,1.0,1.0,0.0,1.0,41.0,2.0,0.0
861,1.0,1.0,0.0,1.0,0.0,1.0,21.0,1.0,0.0
862,1.0,0.0,0.0,0.0,0.0,1.0,48.0,0.0,0.0
864,1.0,1.0,0.0,1.0,0.0,1.0,24.0,0.0,0.0
865,1.0,1.0,0.0,0.0,0.0,1.0,42.0,0.0,0.0
866,1.0,1.0,0.0,0.0,0.0,0.0,27.0,1.0,0.0
867,1.0,0.0,0.0,1.0,0.0,1.0,31.0,0.0,0.0
869,1.0,0.0,1.0,1.0,0.0,1.0,4.0,1.0,1.0
870,1.0,0.0,1.0,1.0,0.0,1.0,26.0,0.0,0.0
871,1.0,0.0,0.0,0.0,0.0,1.0,47.0,1.0,1.0
872,1.0,0.0,0.0,1.0,0.0,1.0,33.0,0.0,0.0
873,1.0,0.0,1.0,1.0,0.0,1.0,47.0,0.0,0.0
874,1.0,1.0,0.0,0.0,0.0,0.0,28.0,1.0,0.0
875,1.0,0.0,1.0,0.0,0.0,0.0,15.0,0.0,0.0
876,1.0,0.0,1.0,1.0,0.0,1.0,20.0,0.0,0.0
877,1.0,0.0,1.0,1.0,0.0,1.0,19.0,0.0,0.0
879,1.0,0.0,0.0,0.0,0.0,0.0,56.0,0.0,1.0
880,1.0,1.0,0.0,0.0,0.0,1.0,25.0,0.0,1.0
881,1.0,0.0,1.0,1.0,0.0,1.0,33.0,0.0,0.0
882,1.0,0.0,1.0,0.0,0.0,1.0,22.0,0.0,0.0
883,1.0,1.0,0.0,1.0,0.0,1.0,28.0,0.0,0.0
884,1.0,0.0,1.0,1.0,0.0,1.0,25.0,0.0,0.0
885,1.0,0.0,1.0,0.0,1.0,0.0,39.0,0.0,5.0
886,1.0,1.0,0.0,1.0,0.0,1.0,27.0,0.0,0.0
887,1.0,0.0,0.0,0.0,0.0,1.0,19.0,0.0,0.0
889,1.0,0.0,0.0,1.0,0.0,0.0,26.0,0.0,0.0
890,1.0,0.0,1.0,1.0,1.0,0.0,32.0,0.0,0.0

AttributeError: 'numpy.ndarray' object has no attribute 'summary'